@model BookModel

<div class="card mb-4 shadow-sm">
    <img src="@(string.IsNullOrEmpty(Model.CoverImageUrl) ? "/images/no-image.png" : Model.CoverImageUrl)" class="img-thumbnail" />
    <div class="card-body">
        <h3 class="card-title">@(String.IsNullOrEmpty(Model.Title) ? "Name is not available": Model.Title)</h3>
        <p class="card-text">@(String.IsNullOrEmpty(Model.Description) ? "Description is not available": Model.Description)</p>
        <div class="d-flex justify-content-between align-items-center">
            <div clss="btn-group">
                <a asp-controller="book" asp-action="getbook" asp-route-id="@Model.Id" class="btn btn-sm btn-outline-secondary">View details</a>
            </div>
            <small class="text-muted">@(String.IsNullOrEmpty(Model.Author) ? "Author is not available" : Model.Author)</small>
        </div>
    </div>
</div>